.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 5px;
}

form>div {
  margin-bottom: 11px;
}

label {
  width: 130px;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  margin-top: 10px;
  color: #555;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 8px;
  box-sizing: border-box;
  font-size: 15px;
}

.form-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

button {
  padding: 10px;
  margin-top: 20px;
  margin-left: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}

button[type="button"] {
  background-color: #dc3545;
}

button[type="button"]:hover {
  background-color: #c82333;
}

/* Table styling */
.tableData {
  margin-top: 40px;
  width: 60%;
  margin: 60px;
  margin-left: 300px;
  padding: 60px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #007bff;
  color: white;
}

td {
  background-color: #f9f9f9;
}

table,
th,
td {
  border: 1px solid #ddd;
}


td>div {
  display: flex;
  gap: 10px;
}

td button {
  background-color: #28a745;
  color: white;
}

td button:hover {
  background-color: #218838;
}